<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book Store</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <br>
    <div>
        <form method="post" autocomplete="off">
            <input autocomplete="off" type="text" name="title" placeholder="Enter title" />
            <input autocomplete="off" type="text" name="author" placeholder="Enter author" />
            <input autocomplete="off" type="text" name="quantity" placeholder="Enter quantity" />
            <button type="submit">Add</button>
        </form>
    </div>
    <br>
    <br>
    <table border="1">
        <thead>
        <tr>
            <th style="width: 50px"> Title </th>
            <th style="width: 50px"> Author </th>
            <th style="width: 50px"> Quantity </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td><span th:text="${book.title}"> Title </span></td>
            <td><span th:text="${book.author}"> Author </span></td>
            <td><span th:text="${book.quantity}"> Quantity </span></td>
        </tr>
        </tbody>
    </table>
</body>
</html>